<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LvyouluxianInfoDao">

	<!-- 发布者只能查到自己的发布记 -->
	<select id="findByPublishId" resultType="com.example.vo.LvyouluxianInfoVo">
		select `lvyouluxian_info`.*  from `lvyouluxian_info`

		where 1 = 1
		<if test="id != null and id != 0">
			and `lvyouluxian_info`.`publishId` = #{id}
		</if>
		and parentId = 0
		order by `lvyouluxian_info`.id desc
	</select>

	<!-- 预约者只能查到自己预约的记录，包括所有状态的 -->
	<select id="findByReserveId" resultType="com.example.vo.LvyouluxianInfoVo">
		select `lvyouluxian_info`.*  from `lvyouluxian_info`

		where 1 = 1
		<if test="id != null and id != 0">
			and `lvyouluxian_info`.`reserveId` = #{id}
		</if>
		<if test="parentId != null">
			and parentId = #{parentId}
		</if>
		<if test="parentId == null">
			and parentId != 0
		</if>
		order by `lvyouluxian_info`.id desc
	</select>

	<!-- 管理员可以查到所有的非未提交状态的记录 -->
	<select id="findAll" resultType="com.example.vo.LvyouluxianInfoVo">
		select `lvyouluxian_info`.*  from `lvyouluxian_info`

		where `lvyouluxian_info`.`publishStatus` != '未提交'
		order by `lvyouluxian_info`.id desc
	</select>

	<!-- 前端可以看到所有发布审核通过的信息 -->
	<select id="findAllReserve" resultType="com.example.vo.LvyouluxianInfoVo">
		select `lvyouluxian_info`.*  from `lvyouluxian_info`

		where `lvyouluxian_info`.`publishStatus` = '审核通过' and parentId = 0
		order by `lvyouluxian_info`.id desc
	</select>

</mapper>