<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LvyouluxianInfoCommentDao">

    <select id="findAllVo" resultType="com.example.vo.LvyouluxianInfoCommentVo">
        select `comment_lvyouluxian_info`.*, `lvyouluxian_info`.`name` as foreignName from `comment_lvyouluxian_info`
        left join `lvyouluxian_info` on `comment_lvyouluxian_info`.foreignId = `lvyouluxian_info`.id
        where 1=1
        <if test="name != null and name != 'all' and name != ''">
            and `comment_lvyouluxian_info`.`content` like concat('%', #{name}, '%')
        </if>
        order by id
    </select>

    <select id="findByForeignId" resultType="com.example.vo.LvyouluxianInfoCommentVo">
        select * from `comment_lvyouluxian_info` where foreignId = #{id} and parentId = #{parentId}
    </select>

</mapper>